@model JulianaSosaGestorPacientesWeb.Models.JSPaciente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JSPaciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JSNombre" class="control-label"></label>
                <input asp-for="JSNombre" class="form-control" />
                <span asp-validation-for="JSNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSApellido" class="control-label"></label>
                <input asp-for="JSApellido" class="form-control" />
                <span asp-validation-for="JSApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSEnfermedad" class="control-label"></label>
                <input asp-for="JSEnfermedad" class="form-control" />
                <span asp-validation-for="JSEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSDNI" class="control-label"></label>
                <input asp-for="JSDNI" class="form-control" />
                <span asp-validation-for="JSDNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
